/* 
	Projeto feira (folha de estilo)
*/
body {
	margin: 0;
	// background-color: #FA7F72;
	background-image: radial-gradient(#a80000, #760300); 
	color: white; 
	font-size: 16px;	
	//font-family: Stoke, verdana, liberation;
	font-family: fantasy;
}

header {
	display: block;
}
	.block1 {
		display: flex;
		justify-content: space-between;
	}

	.imgLogo {
		margin-top: 20px;
	    height: 120px;
	}

	.japastel {
		margin-top: 20px;
		height: 90px;
	}

	.titulo { 
		font-family: Stoke, verdana, liberation;
		font-size: 18px;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #000;
		font-size: 3em; 
		color: #fffdd9;
	}

nav {
	display: block;
	padding-top: 4px; 
	padding-bottom: 4px;
	text-align: center;
	font-weight: bold;
	font-family: Stoke, Verdana, Liberation;
}
	.menu {
		text-align: center; 
		margin: 3px auto;
	}
	.botao {
		font-size: 14px; 
		margin-left: 5px; 
		margin-right: 5px;
		padding-top: 5px; 
		padding-bottom: 5px;
		padding-left: 4px; 
		padding-right: 4px;
		border-radius: 20px;
		border: 2px solid black;
		background-color: black;
		width: 120px; 
		display: inline-block;
	}


nav 
	a:link {
		text-decoration: none; 
		color: white;
	}
	a:visited {
		text-decoration: none; 
		color: white;
	}

section {
	display: block;
}

form {
	float: center;
	width: 1140px;
	color: #880000;
	background-color: rgba(238,221,153,1);
	padding: 6px 6px 15px 6px;
	margin: 10px auto;
	border: 2px solid black;
	border-radius: 10px;
}
	/*Posicionamento de Fieldsets*/
	.fsPrincipal{
		width: auto;
	}
	.fsEsq{
		float: left;
		display: inline-block;
		margin: 0px;
		margin-left: 2px;
		margin-right: 2px;
	}
	.fsDir{
		float: right;
		display: inline-block;
		margin: 0px;
		margin-left: 2px;
		margin-right: 2px;
	}
	.elemEsq {
		float:left;
		display: block;
	}
	.elemDir {
		float: right;
		display: inline-block;
		margin-top: 15px;
		margin-right: 10px;
	}
	.impMedio {
		width: 50px;
	}
	.botoes {
		float: none;
		margin: 20px 10px 0px 10px;
	}

label.editPastel{
	display: inline-block;
	width: 200px;
}
	.editBolinho{
		display: inline-block;
		width: 120px;
	}
	.editBebida{
		display: inline-block;
		width: 170px;
	}

footer{
	background: black;
}
	.contato {
		padding-top: 10px;
		padding-bottom: 20px;
		letter-spacing: 1px;
	}
	.links {
		font-family: 'Source Sans Pro', sans-serif;
	  	text-align: center;
	  	padding-bottom: 50px;
	}

	.links a {
	  	color: white;
	  	text-decoration: none;
	  	font-size: 18px;
	  	line-height: 28px;
	  	margin: 0 16px;
	  	transition: 700ms;
	  	letter-spacing: 1px;
	}

	.links a:hover {
	  	padding: 24px;
	  	background-color: white;
	  	color: black;
	  	border-radius: 30px;
	  	letter-spacing: 1px;
	}

	#links-footer a{transition: 700ms;}

	#links-footer a:hover{
	  padding: 32px;
	  background-color: white;
	  color: black;
	  border-radius: 30px;

	}


@media (max-width: 600px) {

}